/* FOOTER */
.snap-section-footer {
    scroll-snap-align: end;
    scroll-snap-stop: always;
    /* background-color: white; */
}

.footer-top {
    display: flex;
    background-color: #F7F7F7;
    padding: 35px;
}

.fooetr-left {

}

.footer-right {
    display: flex;
}

/* FOOTER BOTTOM */
.footer-bottom {
    display: flex;
    justify-content: center;
    color: #333333;
    text-decoration: none;
    gap: 5px;
    padding: 15px 0px;
    background-color: white;
}

.bottom-footer-logo {
    max-height: 20px;
}