/* FOOTER TOP */
.snap-section-footer {
    scroll-snap-align: end;
    scroll-snap-stop: always;
    background-color: #F7F7F7;
    box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.footer-top {
    padding: 35px;
    max-width: 1350px;
    margin: auto;
}

.fooetr-left {

}

.footer-top-sec1 {
    display: flex;
    justify-content: space-between;
}

.footer-img-wrapper {
    margin: 0;
    padding: 15px 35px;
}

.footer-bio {
    color: #98A7B9;
    text-align: left;
    padding: 10px 35px;
    font-size: var(--fs-body4);
    max-width: 450px;
}

ul.footer-icon-wrap {
    padding: 10px 35px;
}

.footer-icon-li {
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
    padding: 10;
    margin: 0;
    display: inline;
}

.footer-icon {
    color: #333333;
    text-decoration: none;
    font-size: 1.5em;
}

.footer-icon-li .footer-icon {
    transition: color 0.7s ease;
}

.footer-icon-li:hover .footer-icon {
    color: #1B63EF;
}

.footer-button-con {
    display: flex;
    flex-flow: column;
    padding: 0 35px;

}

.footer-btn1, .footer-btn2 {
    width: 50%;
    background-color: #1B63EF;
    border: none;
    cursor: pointer;
    font: inherit;
    padding: 10;
    margin: 10px 0;
    display: inline;
    border-radius: 400px;
    transition: box-shadow 0.5s ease;
}

.footer-btn1:hover, .footer-btn2:hover  {
    box-shadow: 0px 0px 6px #1B63EF;
}

.footer-right {
    display: flex;
}

.footer-ai, .footer-marketplace, .footer-flux, .footer-contact {
    display: flex;
    flex-flow: column;
    padding: 35px;
}

.footer-title1, .footer-title2, .footer-title3, .footer-title4 {
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
}

.footer-link {
    color: #98A7B9;
    font-size: 15px;
    text-decoration: none;
    margin: 10px 0;
}

.footer-sep {
    border-top: 2px solid #98A7B9;
    width: 100%;
    max-width: 1350px;
    margin-bottom: 35px;
}

.footer-top-sec2 {
    display: flex;
    justify-content: space-between;
}

.footer-copy {
    color: #98A7B9;
    font-size: var(--fs-body4);
}

.footer-terms, .footer-policy {
    text-decoration: none;
    color: #98A7B9;
    font-size: var(--fs-learn-more);
}

/* FOOTER BOTTOM */
.footer-bottom {
    display: flex;
    justify-content: center;
    color: #333333;
    text-decoration: none;
    gap: 5px;
    padding: 15px 0px;
    background-color: white;
    box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.3);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    z-index: 2;
}

.bottom-footer-logo {
    max-height: 20px;
}