/* SCROLL CONTAINER CODE */
.snap-section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    /* height: 100vh; */
    /* height: calc(100vh - 95px); */
}

/* TABLET */
@media only screen and (max-width: 1024px) {
    .snap-section {
       /* scroll-snap-align: none;
        scroll-snap-stop: none; */
        height: auto;
    }
}

/* CONTAINER 1 */
.container-1 {
    padding: 95px 0px;
}

/* Img & Content */
.content-container-1 {
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    margin: 30px 0px;
    overflow: hidden;
    z-index: 2;
}

.background-element-1 {
    display: flex;
    justify-content: right;
    height: auto;
    width: 50%;
    margin: 30px 0px;
    background-color: #F7F7F7;
    box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.3);
    border-top-right-radius: 400px;
    border-bottom-right-radius: 400px;
    z-index: 1;
}

/* Section 1 Content */
.sec1-left {
    margin: 0;
    padding: 35px;
}

/* Daniel Keller Picture */
.headshot {
    width: 550px;
    max-width: 100%;
    height: auto;
    border-radius: 400px;
    box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.3);
}

.sec1-right {
    width: 600px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Title */
.sec1-h1 {
    color: #1B63EF;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    font-size: var(--fs-header);
    font-weight: 500;
    margin: 0px;
}

.sec1-h1-2 {
    color: #333333;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    font-size: var(--fs-header);
    font-weight: 500;
    margin: 0px;
}

/* Paragraph */
.sec1-p {
    color: #98A7B9;
    text-align: right;
    padding-left: 40px;
    margin: 20px 0px;
    font-size: var(--fs-body);
}

/* Home Submenu */
.home-submenu {
    display: flex;
    position: relative;
    padding: 20;
    max-width: 1250px;
    margin: 0 auto;
}

/* Header 1 - 3 */
a.header-1, a.header-2, a.header-3 {
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 19px;
    font-weight: 600;
    max-width: 230px;
    margin: 15px 0px 15px 0px;
    padding: 0px 20px 20px 20px;
    transition: color 0.7s ease;
}

a.header-2:hover, a.header-3:hover {
    color: #1B63EF;
}

/* Vertical lines */
.seps {
    border-left: 2px solid #98A7B9;
    height: 70px;
}

/* TABLET */
@media only screen and (max-width: 1024px) {
    .container-1 {
        padding: 95px 0px 0px 0px;
    }

    .content-container-1 {
        flex-flow: wrap;
        margin: 30px 0px 0px 0px;
    }

    .background-element-1 {
        width: 80%;
    }

    .headshot {
        width: 425px;
        max-width: 80%;
    }

    .sec1-left {
        display: flex;
        justify-content: right;
        width: 100%;
    }

    .sec1-right {
        padding: 35px 35px 0px 35px;
        width: 700px;
        max-width: 100%;
        margin: auto;
    }

    .slide-container {
        display: flex;
        justify-content: center;

    }

    .slide.active {
        width: 100%;
    }

    .sec1-header-flex {
        display: flex;
        justify-content: right;
    }

    .sec1-p {
        padding-left: 0px;
    }

    .home-submenu {
        justify-content: center;
    }
}

/* MOBILE */
@media only screen and (max-width:768px) {
    .headshot {
        max-width: 60%;
    }
}

/* CONTAINER 2 */
/* The Future of AI */
.container-2 {
    padding: 95px 0px;
}

.content-container-2 {
    display: flex;
    justify-content: right;
    flex-flow: row-reverse;
    align-items: center;
    position: relative;
    margin: 30px 0px;
    overflow: hidden;
    z-index: 2;
}

.background-element-2 {
    display: flex;
    justify-content: left;
    height: auto;
    width: 50%;
    margin: 30px 0px;
    background-color: #F7F7F7;
    box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.3);
    border-top-left-radius: 400px;
    border-bottom-left-radius: 400px;
    z-index: 1;
}

/* Section 2 Content Reversed */
.sec2-left {
    margin: 0;
    padding: 35px;
}

/* AI Image / Object Needed - IMG Size */
.headshot-2 {
    width: 550px;
    max-width: 100%;
    height: auto;
    border-radius: 400px;
    box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.3);
}

.sec2-right {
    width: 600px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Title */
.sec2-h1 {
    color: #1B63EF;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: var(--fs-title);
    margin: 20px 0px;
    font-weight: 500;
}

.sec2-h1-2 {
    color: #333333;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: var(--fs-header);
    font-weight: 500;
    margin: 0px;
}

/* Paragraph */
.sec2-p {
    color: #98A7B9;
    text-align: left;
    padding-right: 40px;
    margin: 20px 0px;
    font-size: var(--fs-body);
}

/* Button */
.more-btn-left {
    max-width: 40%;
    background-color: #1B63EF;
    border: none;
    cursor: pointer;
    font: inherit;
    padding: 10;
    margin: 0;
    display: inline;
    border-radius: 400px;
}

.btn-text {
    color: white;
    text-decoration: none;
}

/* TABLET */
@media only screen and (max-width: 1024px) {
    .container-2 {
        padding: 95px 0px 0px 0px;
    }

    .content-container-2 {
        flex-flow: wrap;
        margin: 30px 0px 0px 0px;
    }

    .background-element-2 {
        width: 80%;
    }

    .headshot-2 {
        width: 425px;
        max-width: 100%;
    }

    .sec2-left {
        display: flex;
        justify-content: left;
        max-width: 100%;
    }

    .sec2-right {
        padding: 35px 35px 0px 35px;
        width: 700px;
        max-width: 100%;
        margin: auto;
    }

    .sec2-p {
        padding-right: 0px;
    }
}

/* MOBILE */
@media only screen and (max-width: 768px) {

}

/* CONTAINER 3 */
/* Section 3 Content */
.container-3 {
    padding: 95px 0px;
}

/* Img & Content */
.content-container-3 {
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    margin: 30px 0px;
    overflow: hidden;
    z-index: 2;
}

.background-element-3 {
    display: flex;
    justify-content: right;
    height: auto;
    width: 50%;
    margin: 30px 0px;
    background-color: #F7F7F7;
    box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.3);
    border-top-right-radius: 400px;
    border-bottom-right-radius: 400px;
    z-index: 1;
}

.sec3-left {
    margin: 0;
    padding: 35px;
}

/* Flux Marketplace */
.headshot-3 {
    width: 550px;
    max-width: 100%;
    height: auto;
    border-radius: 400px;
    box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.3);
}

.sec3-right {
    width: 600px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Title */
.sec3-h1 {
    color: #1B63EF;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    font-size: var(--fs-title);
    font-weight: 500;
    margin: 20px 0px;
}

.sec3-h1-2 {
    color: #333333;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    font-size: var(--fs-header3);
    font-weight: 500;
    margin: 0px;
    padding-left: 70px;
}

/* Paragraph */
.sec3-p {
    color: #98A7B9;
    text-align: right;
    padding-left: 40px;
    margin: 20px 0px;
    font-size: var(--fs-body);
}

/* Button */
.more-btn-right {
    /* max-width: 40%; */
    width: 40%;
    background-color: #1B63EF;
    border: none;
    cursor: pointer;
    font: inherit;
    padding: 10;
    margin: 0;
    display: inline;
    border-radius: 400px;
    align-self: flex-end;
}

/* TABLET */
@media only screen and (max-width: 1024px) {
    .container-3 {
        padding: 95px 0px 0px 0px;
    }

    .content-container-3 {
        flex-flow: wrap;
        margin: 30px 0px 0px 0px;
    }

    .background-element-3 {
        width: 80%;
    }

    .headshot-3 {
        width: 425px;
        max-width: 100%;
    }

    .sec3-left {
        display: flex;
        justify-content: right;
        width: 100%;
    }

    .sec3-right {
        padding: 35px 35px 0px 35px;
        width: 700px;
        max-width: 100%;
        margin: auto;
    }

    .sec3-h1-2 {
        padding-left: 0px;
    }

    .sec3-p {
        padding-left: 0px;
    }
}

/* MOBILE */
@media only screen and (max-width:768px) {

}

/* CONTAINER 4 */
/* What Problems Can We Solve? */
.container-4 {
    padding: 95px 0px;
}

.content-container-4 {
    display: flex;
    justify-content: right;
    flex-flow: row-reverse;
    align-items: center;
    position: relative;
    margin: 30px 0px;
    overflow: hidden;
    z-index: 2;
}

.background-element-4 {
    display: flex;
    justify-content: left;
    height: auto;
    width: 50%;
    margin: 30px 0px;
    background-color: #F7F7F7;
    box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.3);
    border-top-left-radius: 400px;
    border-bottom-left-radius: 400px;
    z-index: 1;
}

/* Section 4 Content Reversed */
.sec4-left {
    margin: 0;
    padding: 35px;
}

/* World Map Picture */
.headshot-4 {
    width: 550px;
    max-width: 100%;
    height: auto;
    border-radius: 400px;
    box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.3);
}

.sec4-right {
    max-width: 600px;
    padding: 0px 35px 35px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Title */
.sec4-h1 {
    color: #333333;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: var(--fs-header4);
    font-weight: 500;
    margin: 0px 20px 0px 0px;
}

.highlight {
    color: #1B63EF;
}

/* Section 4 Bottom Content */
.sec4-right-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Sub-headers */
.sec4-h1-sub {
    color: #333333;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: var(--fs-sub-header);
    font-weight: 600;
    margin: 15px 0px;
}

/* Paragraphs */
.sec4-p {
    color: #98A7B9;
    text-align: left;
    padding-right: 40px;
    margin: 20px 0px;
    font-size: 15px;
    font-size: var(--fs-body4);
}

/* Learn More */
.more-lnk {
    color: #1B63EF;
    font-weight: 500;
    font-size: var(--fs-learn-more);
}

/* TABLET */
@media only screen and (max-width: 1024px) {
    .container-4 {
        padding: 95px 0px 0px 0px;
    }

    .content-container-4 {
        flex-flow: wrap;
    }

    .background-element-4 {
        width: 80%;
    }

    .headshot-4 {
        width: 425px;
        max-width: 100%;
    }

    .sec4-left {
        display: flex;
        justify-content: left;
        max-width: 100%;
    }

    .sec4-right {
        padding: 35px 35px 0px 35px;
        width: 700px;
        max-width: 100%;
        margin: auto;
    }

    .sec4-p {
        padding-right: 0px;
    }

    .sec4-right-bottom {
        display: grid;
        grid-template-columns: none;
    }

    .sec4-problems {
        display: flex;
    }

    .sec4-bottom1, .sec4-bottom2, .sec4-bottom3, .sec4-bottom4, .sec4-bottom5, .sec4-bottom6 {
        margin: 10px;
    }
}

/* MOBILE */
@media only screen and (max-width:768px) {

}

/* FOOTER */
.snap-section-footer {
    scroll-snap-align: end;
    scroll-snap-stop: always;
    /* background-color: white; */
}

/* FOOTER BOTTOM */
.footer-bottom {
    display: flex;
    justify-content: center;
    color: #333333;
    text-decoration: none;
    gap: 5px;
    padding: 15px 0px;
    background-color: white;
}

.bottom-footer-logo {
    max-height: 20px;
}